body {
  background-color: #FFF
}

:root {
  --font-family: "Hanken Grotesk";
}

#blue-container {
  background: var(--gradient-1, linear-gradient(180deg, #75F 0%, #6943FF 0.01%, #2F2CE9 100%));
  height: 356px;
  border-radius: 0 0 32px 32px;
  box-shadow: 0px 30px 60px 0px rgba(61, 108, 236, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#title-over-number-display {
  color: var(--light-blue, #CAC9FF);
  text-align: center;
  font-family: var(--font-family), sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 24px;
}

#number-display {
  color: var(--white, #FFF);
  text-align: center;
  font-family: var(--font-family), sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 72px;
  z-index: 1;
}

#circle {
  display: flex;
  flex-direction: column;
  height: 140px;
  width: 140px;
  border: 50%;
  align-items: center;
  justify-content: center;
  margin-top: 24px;


}

#circle img {
  position: absolute;
}

#circle p {
  color: var(--light-blue, #CAC9FF);
  font-family: var(--font-family), sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#score-number-display {
  color: var(--white, #FFF);
  text-align: center;
  font-family: var(--font-family), sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 24px;
}

#legend-score-number-display {
  color: var(--light-blue, #CAC9FF);
  text-align: center;
  font-family: var(--font-family), sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 260px;
  margin-top: 8px;
}


.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

#list-score-container {
  height: 453px;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;

}

#title-summary {
  color: var(--dark-navy, #303B59);
  font-family: var(--font-family), sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#container-list {
  margin-top: 24px;
  min-width: 315px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

#list-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}

#container-list-inside-reaction {
  display: flex;
  flex-direction: row;
  height: 56px;
  background: var(--red-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #F55);
  border-radius: 12px;
  align-items: center;
  justify-content: space-between;
}

#container-list-inside-memory {
  display: flex;
  flex-direction: row;
  height: 56px;
  background: var(--yellow-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #FFB21E);
  border-radius: 12px;
  align-items: center;
  justify-content: space-between;
}

#container-list-inside-verbal {
  display: flex;
  flex-direction: row;
  height: 56px;
  background: var(--green-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #00BB8F);
  border-radius: 12px;
  align-items: center;
  justify-content: space-between;
}

#container-list-inside-visual {
  display: flex;
  flex-direction: row;
  height: 56px;
  background: var(--blue-95-white, linear-gradient(0deg, rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), #1125D6);
  border-radius: 12px;
  align-items: center;
  justify-content: space-between;
}




#list-title-reaction {
  color: var(--red, #F55);
  font-family: var(--font-family), sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#list-title-memory {
  color: var(--yellow, #FFB21E);
  font-family: var(--font-family), sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#list-title-verbal {
  color: var(--green, #00BB8F);
  font-family: var(--font-family), sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#list-title-visual {
  color: var(--blue, #1125D6);
  font-family: var(--font-family), sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.icon-list {
  height: 20px;
  width: 20px;
  margin-left: 16px;
  margin-right: 12px;
}

#list-title-reaction {
  margin-right: min(124px);
}

#list-title-memory {
  margin-right: min(124px);
}

#list-title-verbal {
  margin-right: min(124px);
}

#list-title-visual {
  margin-right: min(124px);
}

#button {
  margin-top: 24px;
  width: 315px;
  height: 56px;

  border-radius: 128px;
  background: var(--dark-navy, #303B59);

  color: var(--white, #FFF);
  text-align: center;

  /* Body (Bold) */
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#button:hover {
  border-radius: 128px;
  background: var(--gradient-1, linear-gradient(180deg, #75F 0%, #6943FF 0.01%, #2F2CE9 100%));
  cursor: pointer;
}


.number-score {
  color: var(--dark-navy, #303B59);
  text-align: right;
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 16px;
}

.position-index-list {
  display: flex;
  flex-direction: row;
}

@media (min-width:1440px) {

  body {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    align-content: center;
    height: 100vh;
    justify-content: center;
    background: var(--very-light-blue, #ECF2FF);
  }


  #entire-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;

    width: 736px;
    height: 512px;

    border-radius: 32px;
    background: var(--white, #FFF);
    box-shadow: 0px 30px 60px 0px rgba(61, 108, 236, 0.15);
  }


  #blue-container {
    width: 368px;
    height: 512px;
    border-radius: 32px;
  }

  #title-over-number-display {
    color: var(--light-blue, #CAC9FF);
    font-feature-settings: 'clig' off, 'liga' off;

    font-family: var(--font-family);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  #circle {
    width: 200px;
    height: 200px;
    margin-top: 35px;
  }

  #circle img {

    width: 200px;
    height: 200px;
  }

  #number-display {
    color: var(--white, #FFF);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;

    /* Heading XL */
    font-family: var(--font-family);
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 72px;
    /* 100% */
  }

  #circle p {
    font-size: 18px;
  }

  #score-number-display {
    margin-top: 28px;
    font-size: 32px;

  }

  #legend-score-number-display {
    font-size: 18px;
    margin-top: 14px;
  }

  #list-score-container {
    margin-right: 40px;
    width: 288px;
  }

  #container-list {
    min-width: 288px !important;
  }

  .number-score {
    font-size: 18px;

  }

  #list-title-reaction {
    font-size: 18px;

  }

  #list-title-memory {
    font-size: 18px;

  }

  #list-title-verbal {
    font-size: 18px;

  }

  #list-title-visual {
    font-size: 18px;

  }

  #container-list-inside-reaction {
    width: 288px;

  }

  #list-title-reaction {
    margin-right: min(81px) !important;
  }

  #list-title-memory {
    margin-right: min(81px) !important;
  }

  #list-title-verbal {
    margin-right: min(81px) !important;
  }

  #list-title-visual {
    margin-right: min(81px) !important;
  }

  #title-summary {
    font-size: 24px;

  }

  #button {
    margin-top: 41px;
  }


}